body{
    font-family: roboto;
    background: #fff;
    margin: 0px;
    overflow-x: hidden;
}
.header{
    width: 70%;
    float: left;
    padding: 1% 32% ;
    margin-bottom: 0px;
}
.head-img{
    float: left;
    width: 5em;
    margin-top: 0.2em;
}
.head-txt{
    float: left;
    width: 80%;
}
.head{
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    float: left;
    margin: 1em 0em 0em 1em;
}
.head1{
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    float: left;
    margin: 0em 0em 0em 0em;
}
.status-time{
    float: left;
    margin: 1em 10em;
    margin-left: 30%;
    font-weight: 700;
}
.master-container{
    float: left;
    width: 65%;
    margin: 1% 15%;
}
.block-container{
    float: left;
    width: 50%;
    margin: 1% 0%;
}
.floor{
    width: 100%;
    float: left;
}

.apartment{
    float: left;
    width: 22%;
    margin: 0.2%;
    background-color: #7df559;
    text-align: center;
    border-radius: 0px;

}
.floor-height{
    width: 10%;
    background-color: transparent;

}

.floor-height > .ap-number{
    font-size: 1em;
    padding: 15% 0em;
}
.floor-height > .amities{
    display: none;
}
.apartment:hover{
    transition: all 100ms;
    box-shadow: 0em 0.3em 4em rgba(0,0,0,0.6);
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 3px;
}
.floor-height:hover{
    box-shadow: 0em 0em 0em #fff;
    transform:scale(1);
}
.full{
    width: 89%
}
.half{
    width: 44.5%
}
.vacant{
    background-color: #7df559;
}
.inactive{
    background-color: #bdbdbd;
}
.booked{
    background-color: #f95a38;
}
/*.inactive:hover , .booked:hover{*/
.inactive:hover {
     cursor: no-drop;
    transition: all 200ms;
    box-shadow: 0em 0.3em 3em rgba(0,0,0,0);
    transform: scale(1);
}
.ap-number{
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0em;
    font-weight: 600;
}
.full > .ap-number{
    font-size: 1.2em;
    margin: 1em;
    font-weight: 400;
}
.amities{
    text-align: right;
    margin: 0.5em 0em;
    margin-right: 0.5em;
    font-size: 0.9em;
    opacity: 0.5;
}
.instr{
    width: 60%;
    float: left;
    margin: 0% 20%;
}
.instr > p{
    float: left;
}
.icom{
    padding: 0.5em 2em;
    margin: 0em 2em 0em 2em;
    color: rgba(0,0,0,0);
    border-radius: 5px;
}
.footer{
    background-color: #000;
    width: 102%;
    position: fixed;
    bottom: 0%;

}
.footer > p{
    color: #fff;
    text-align: center;
    /*padding: 0.5em;*/

}
.footer > p >a{
   color: #fff;
    text-decoration: none;
}
.footer > p >a:hover{
    transition: all 200ms;
    color: #1010ff;;
    text-decoration: none;
}
.date-range{
    float: left;
    width: 50%;
    margin: 0% 35%;
}
.date-picker > input{
    float: left;
    padding: 0.5em;
    margin: 0em 1%;
    border-radius: 1.2em;
}
.date-picker > label{
    float: left;
    padding: 0.5em;
    margin-top: 0em;
    margin-bottom: 0em;

}
.changed{
    margin-top: 0px;
        float: left;
    padding: 0.5em;
    /*margin-top: 2.1em;*/
    margin-bottom: 0em;


}
.date-picker > button{
    float: left;
    padding: 0.5em 1em;
    margin: 0em 1%;
    text-decoration: none;
    background-color: green;
    color: #fff;
    border-radius: 5px;
}


.apartment .tooltiptext {
    visibility: hidden;
    background-color: #4a578b;
    color: #c3bdf1;
    text-align: center;
    border-radius: 0px;
	font-size: 0.9em;
    padding:0.7em 0em;
	float: left;
	top: 0%;
	left:0%;
    min-width: 100%;
	transition: all 250ms;
	opacity: 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.apartment:hover .tooltiptext {
    visibility: visible;
		margin-left:0%;
		margin-top: 0%;
		opacity: 1;
		transition-property: opacity;
    transition-duration: 250ms;
    transition-delay: 200ms;
}
/*Calender Tooltip*/
.event a {
    background-color: #5FBA7D !important;
    color: #ffffff !important;
}
div.ui-datepicker{
    font-size: 1em;
    text-align: center;
    font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;
}
.ui-datepicker{
    z-index: 9999 !important;
    position: absolute;
    /*float: right;*/
    left: 76.5%;
    margin-top: 9%;
    /*z-index: ;*/
}
.ui-datepicker td a
{
  height: 3em;
}
/*.hasDatepicker {*/
    /*position: relative;*/
    /*z-index: 9999;*/
/*}*/
.errorlist{
    color : white;
}